*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    background-image: url(./assets/galaxy.png);
    background-position: left;
    background-size: cover;
}

.App{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-image: url(./assets/vs.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.board-container{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: absolute;
    right: 150px;
    font-family: "Honk", system-ui;
}

.board-row{
    height: 100px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2.5rem;
}

.headName{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 70%;
    border-radius: 5px;
    font-size: 2rem;
}
.btns{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-name{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Honk", system-ui;
    font-size: 2rem;
}

.reset-btn{
    height: 100%;
    width: 40px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border-top: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn:hover{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.backNote{
    background-color: #ebeef1;
    height: 50%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    font-size: 1.7rem;
    border-radius: 15px;
    box-shadow: 0 0 20px white;
}
.back-btn{
    background-color: black;
    border: none;
    outline: none;
    height: 35px;
    width: 70%;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover{
    box-shadow: 0 0 20px black;

}

@media screen and (width<768px) {
body{
    height: 80vh;
    width: 100%;
    background-color: #000000;
    background-image: url(./assets/galaxy.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.App{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/vs.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.board-container{
    height: 400px;
    width: 400px;
    position: static;
    right: 0px;
}

.board-row{
    height: 70px;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2.2rem;
}

.headName{
    width: 65%;
    font-size: 1.9rem;
}
.btns{
    width: 65%;
}
.btn-name{
    font-size: 1.9rem;
}

.reset-btn{
    height: 90%;
    width: 30px;
    font-size: 0.9rem;
}

.backNote{
    background-color: #ebeef179;
    height: 50%;
    width: 100%;
    gap: 25px;
    font-size: 1.7rem;
}
.back-btn{
    height: 30px;
    width: 70%;
    font-size: 0.9rem;
}



}


@media screen and (width<400px) {
    body{
        height: 100vh;
        width: 100%;
        background-color: #000000;
        background-image: url(./assets/galaxy.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    
    .App{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(./assets/vs.png);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
